
/* Medius Devices , Desktop */


/* Medius Devices , phone */





/* Small Devices And Tablets */

@media only screen and (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .paragraph-news{
        padding-bottom: 90px !important;
    }
    .commentright{
        margin-bottom: 40px;        
    }
    .profile2 {
        display: flex !important ;
        flex-direction: column-reverse;
    }
    .navbar-default .navbar-nav > li > a {
        padding-top: 15px;
        padding-left: 30px;
        }
}
@media only screen and (max-width: 868px) {

    .profile2 {
        display: flex !important ;
        flex-direction: column-reverse;
    }
    .navbar-default .navbar-nav > li > a {
        padding-top: 15px;
        padding-left: 30px;
        }
}



/* responsiv 2 tablet */

/* Large Devices, Wide Screen */

@media only screen and  (min-width: 890px) and (max-width: 1350px) {
    .commentright{ 
        margin-bottom: 40px;        
    }

}


