/* General css */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    overflow-x: hidden;
}


/* ==== Header ==== */

.header-overlay {
    background-image: url("../images/header.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    min-height: 567px;
    margin-top: 51px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, 1)
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
    font-size: 15px;
}

.discover-smart-news {
    max-width: 570px;
    font-family: Aleo;
    font-size: 65px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    line-height: 52px;
}

.profil {
    width: 20px;
    border-radius: 10px;
    float: left;
    margin-top: 17px;
}

.nav-item {
    color: #fff;
}


/* === news ===*/

.image {
    width: 390px;
}

.stranger-things-2-am {
    height: 80px;
}

.la-deuxi-me-saison-d {
    height: 48px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 20px;
}

.commentright a {
    margin-right: 60px;
}

.rectangle-2 {
    height: 60px;
    border: solid 1px #000000;
}

.load-more {
    height: 40px;
    font-family: Aleo;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.0;
    letter-spacing: 2.4px;
    text-align: center;
    color: #000000;
}

.footer {
    border-top: 1px solid wheat;
    margin-top: 50px;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    display: flex;
}

.reseaux li {
    padding-left: 10px;
}

.reseaux li a {
    font-family: Aleo;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}